/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  font-family: 'Open Sans';
  font-size: 1.25rem;
}
.nav-wrapper {
  background-image: url('./images/pills.jpg');
}
nav {
  width: 100%;
  margin-top: 2%;
  background-color: white;
  display: flex;
  align-items: space-between;
  justify-content: center;
}
.left-header {
  width: 20%;
  margin-right: 4%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left-header a {
  padding: 2%;
  font-family: "Montserrat";
}
.center-logo {
  width: 40%;
  margin-right: 10%;
  margin-left: 10%;
}
.center-logo img {
  padding: 2%;
}
.right-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  margin-left: 4%;
}
.right-header a {
  padding: 2%;
  font-family: "Montserrat";
}
footer {
  display: block;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  line-height: 2;
  width: 100%;
}
footer p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer .copyright {
  font-size: 0.5rem;
}
.top-background {
  background-image: url('../images/capsules.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-wrapper {
  text-align: center;
  background-color: #2d9aff;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
banner {
  font-family: "Montserrat";
  font-size: 1.5rem;
}
.upper-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  width: 100%;
}
.upper-section .upper-section-container {
  width: 60%;
  margin-bottom: 20%;
  text-align: center;
}
.upper-section .upper-section-container h1 {
  font-size: 3.5rem;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.upper-section .upper-section-container h2 {
  margin-top: 4%;
  font-size: 2rem;
  font-family: "Nanum Myeongjo";
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.upper-section .upper-section-container a {
  text-decoration: underline;
  padding: 2%;
  margin-top: 4%;
}
.upper-section .upper-section-container .button-wrapper {
  margin-top: 4%;
}
.upper-section .upper-section-container .button-wrapper button {
  text-align: center;
  width: 20%;
  margin-bottom: 2%;
  background: none;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 2%;
  font: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  outline: inherit;
}
.middle-section {
  display: inline-block;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 2%;
}
.middle-section .middle-section-header {
  text-align: center;
  margin-bottom: 0;
}
.middle-section .middle-section-header h3 {
  font-size: 3rem;
}
.middle-section .middle-section-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}
.middle-section .middle-section-container .step-box {
  width: 16%;
  height: 160px;
  margin-bottom: 25%;
}
.middle-section .middle-section-container .step-box p {
  font-size: 1.5rem;
  font-family: "Nanum Myeongjo";
  text-align: center;
}
.middle-section .middle-section-container .step-box img {
  padding: 2% 10% 5% 10%;
  margin-bottom: 4%;
  width: 200%;
  height: 200%;
}
.makes-us-different-wrapper {
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.makes-us-different-wrapper .makes-us-different {
  padding-right: 4%;
  width: 46%;
}
.makes-us-different-wrapper .makes-us-different button {
  text-align: center;
  width: 40%;
  margin-bottom: 2%;
  background: none;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 2%;
  font: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  outline: inherit;
}
.makes-us-different-wrapper .makes-us-different p {
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: "Nanum Myeongjo";
}
.makes-us-different-wrapper .makes-us-different-image-right {
  width: 46%;
}
.connected-wrapper {
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
}
.connected-wrapper .connected-image-left {
  width: 46%;
}
.connected-wrapper .connected-steps-list {
  width: 46%;
  height: auto;
  padding-left: 4%;
  padding-bottom: 6%;
  font-family: "Nanum Myeongjo";
}
.connected-wrapper .connected-steps-list ul {
  font-size: 1.5rem;
  padding-top: 4%;
}
.connected-wrapper .connected-steps-list ul li {
  line-height: 2;
}
