.top-background{
    background-image: url('../images/capsules.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-wrapper{
    text-align: center;
    background-color: rgb(45, 154, 255);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

banner{
    font-family: "Montserrat";
    font-size: 1.5rem;
}

